h1{
    color:aqua;
    font-weight: 700;
    line-height:1.5;
    font-size:40px;
}
body{
    background:url(timgTAYF4528.jpg)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
}
footer{
    width: 100%;
    text-align: center;
    color: red;
}
header{
    color:darkgreen;
    font-size: 20px;
    font-weight: 700;
}
h3{
    color:darkgreen;
    font-size: 25px;
}
h4{
    color:darkgreen;
    font-size: 25px;
}
h2{
    padding:20px;
    margin: 60px;
    line-height: 1.5;
    border: solid;
    border-color:darkolivegreen;
    color:darkslategray
}
