body{
    background:url(timgED5W9Q9A.jpg)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
img{
    margin-left: 70px;
}
h3{
    margin-left: 350px;
    margin-right: 300px;
    margin-bottom: 30px；
}
h4{
    margin-left: 350px;
    margin-right: 340px;
    margin-bottom: 30px;
    font-size: 20px
}
h5{
    font-size: 30px;
    color:dodgerblue;
    border: solid;
    padding: 20px;
    margin: 60px;
}
h1{
    color: chocolate;
    font-size: 40px;
}
h2{
    color: brown
}
footer{
    font-size: 10px;
    color: brown
}
